@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');

html {
  font-family: Inter, sans-serif;
}

* {
  box-sizing: border-box;
}

.main {
  position: relative;
  overflow: hidden;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;

  @include laptops {
    max-width: 992px;
  }

  @include tablets {
    max-width: 640px;
    width: 98%;
  }

  @include phones {
    width: initial;
    padding: 0 16px;
  }
}

.column {
  display: flex;
}

.center {
  justify-content: center;
  align-items: center;
}

.corner {
  position: relative;
  animation: moveToCorner 1s forwards;
  padding-top: 50px;
}

.active {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.pt-2 {
  padding-top: 20px;
}

.pt-1 {
  padding-top: 10px;
}

.pt-5 {
  padding-top: 50px;
}

.pt-15 {
  padding-top: 150px;
}

.mb-3 {
  margin-bottom: 30px;
}

@keyframes moveToCorner {
  0% {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);  
  }

  100% {
    top: 0;
    left: 30px;
    transform: translate(0, 0);  
  }
}

@keyframes decrease {
  0% {
    scale: 1.5;
  }

  100% {
    scale: 1;
  }
}